.container{
    background-color: #c0c0c0c0;
    }
    .row{
        background-color: #c0c0c0c0;
    }
    div{
        background-color: #c0c0c0c0;
    }
    form{
        background-color: #c0c0c0c0;
    }
    #form-group{
        background-color: #c0c0c0c0;
    }
    button{
        
        margin-top: 5px;
        
    }