.row{
    padding: 40px;
    background-color:#c0c1c1;
}

.contenedor{ 

    width: auto; 

} 

.parte1 , .parte2{ 

    display: inline-block; 

    text-align:justify; 

} 

.img-proyecto{ 

    width: 120px; 

    height: 120px; 

    box-shadow: 10px 10px 5px rgba(10, 7, 8, 0.74); 

} 