<div class="row">
    <div class="container">
        <div class="logo">
          <img src="../../../assets/ARGENTINA.png"id="logoAp"alt="logoargentinaprgrama">
        </div>
        <div class="redes">

            <a href="https://github.com/CeciliaMiras"><img src="../../../assets/GITHUB.png"id="github"></a>
            <a href="https://www.facebook.com/cecilia.miras"><img src="../../../assets/FACEBOOK.png"id="facebook"></a> 
            <a href=""><img src="../../../assets/LINKEDIN.png"id="linkedin"></a>
            <a href="https://twitter.com/mirascecilia?s=21"><img src="../../../assets/TWITTER.png"id="twitter"></a> 
            <a href="https://instagram.com/mirascecilia?igshid=YmMyMTA2M2Y="><img src="../../../assets/ISTAGRAM.jpg"id="istagram"></a>
            <button type="button" class="btn btn-dark"(click)="login()"*ngIf="!isLogged">LOGUIN</button>
            <button type="button" class="btn btn-dark"(click)="onLogOut()"*ngIf="isLogged">CERRAR SESION</button>

        </div>

    </div>

</div>

